.custom-label {
  color: var(--white);
}

.unity-label {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.x-small-font {
  font-size: 8px;
}

.small-font {
  font-size: 16px;
}

.regular-font {
  font-size: 24px;
}

.large-font {
  font-size: 36px;
}

.x-large-font {
  font-size: 48px;
}
