.gi-download {
    background-image: url('project://database/Assets/Icons/download.png');
}

.gi-checkmark {
    background-image: url('project://database/Assets/Icons/checkmark.png');
}

.gi-chevron-down {
    background-image: url('project://database/Assets/Icons/chevron-down.png');
}

.gi-chevron-up {
    background-image: url('project://database/Assets/Icons/chevron-up.png');
}

.gi-close {
    background-image: url('project://database/Assets/Icons/close.png');
}

.gi-envelope {
    background-image: url('project://database/Assets/Icons/download.png');
}

.gi-edit {
    background-image: url('project://database/Assets/Icons/edit.png');
}

.gi-logout {
    background-image: url('project://database/Assets/Icons/logout.png');
}

.gi-mail {
    background-image: url('project://database/Assets/Icons/mail.png');
}

.gi-plus {
    background-image: url('project://database/Assets/Icons/plus.png');
}

.gi-recycle-bin {
    background-image: url('project://database/Assets/Icons/recycle-bin.png');
}

.gi-team {
    background-image: url('project://database/Assets/Icons/team.png');
}

.gi-user {
    background-image: url('project://database/Assets/Icons/user.png');
}
