.gi-download {
    background-image: url('project://database/Assets/Icons/download.png?fileID=2800000&guid=24885e418a6792d4cb5c8ced1a7a5976&type=3#download');
}

.gi-checkmark {
    background-image: url('project://database/Assets/Icons/checkmark.png');
}

.gi-chevron-down {
    background-image: url('project://database/Assets/Icons/chevron-down.png?fileID=-7389984456692616958&guid=4cd83756da931e34ea6828e57c80295b&type=3#chevron-down_0');
}

.gi-chevron-up {
    background-image: url('project://database/Assets/Icons/chevron-up.png?fileID=-2422963001753501272&guid=d2aa5c7ec57ed1146bb6dbcb3d79bfec&type=3#chevron-up_0');
}

.gi-envelope {
    background-image: url('project://database/Assets/Icons/download.png?fileID=2800000&guid=24885e418a6792d4cb5c8ced1a7a5976&type=3#download');
}

.gi-edit {
    background-image: url('project://database/Assets/Icons/edit.png?fileID=5050237576729777607&guid=124a3d39198b0ba49a4d6f46e847254f&type=3#edit_0');
}

.gi-plus {
    background-image: url('project://database/Assets/Icons/plus.png?fileID=8230488904728474184&guid=7801a83baf50cc94a825b9551e0a26dc&type=3#plus_0');
}

.gi-recycle-bin {
    background-image: url('project://database/Assets/Icons/recycle-bin.png?fileID=-7477415332684337147&guid=cc7f0c5e4d6c53d4dbb6a21c2c33dc85&type=3#recycle-bin_0');
}
