.main-header {
    min-height: 75px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 1px;
    width: 100%;
    max-height: 75px;
}

.header-label-container {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    flex-grow: 1;
    justify-content: center;
}

.header-label {
}

.right-header-button-container {
    height: 100%;
    min-width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.right-header-button {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.right-header-button-icon-container {
}

.right-header-button-icon {
}

.right-header-container {
    flex-direction: row;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    justify-content: flex-end;
    height: 100%;
    min-width: 180px;
}

.notification-container {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    align-items: center;
    justify-content: center;
}

.notification-label {
    -unity-text-align: middle-center;
    -unity-font-style: bold;
}
