.job-details-view-main {
    width: 100%;
    height: 100%;
}

.details-header {
    min-height: 60px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.header-label-container {
    width: 100%;
}

.header-label {
    -unity-text-align: middle-left;
}

.text-input-container {
    min-width: 49%;
    margin-top: 5px;
    max-width: 49%;
    flex-direction: row;
    min-height: 60px;
    margin-bottom: 5px;
}

.text-input {
    flex-grow: 1;
}

.time-input-container {
    min-width: 45%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    min-height: 60px;
}

.time-inputs-container {
    min-width: 49%;
    min-height: 60px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 49%;
    margin-top: 5px;
}

.enum-input-container {
    min-width: 45%;
    max-width: 45%;
    min-height: 60px;
    justify-content: center;
}

.custom-input > .unity-text-field__input {
    background-color: rgb(255, 255, 255);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.footer-button-container {
    height: 100%;
    min-width: 250px;
    margin-left: 50px;
}

.footer-button {
    justify-content: center;
    align-items: center;
}

.footer-button-label-container {
}

.footer-button-label {
}

.time-input {
    margin-right: 5px;
    max-width: 30%;
    min-width: 30%;
}

.cleaner-row {
    min-height: 60px;
    max-height: 60px;
    min-width: 49%;
    max-width: 49%;
}

.cleaners-content {
    min-width: 300px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cleaner-header {
    width: 100%;
    border-bottom-width: 1px;
    justify-content: space-between;
    flex-direction: row;
    min-height: 60px;
    max-height: 60px;
}

.cleaners-header-label-container {
    height: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.cleaners-header-label {
}

.add-cleaner-button-container {
    min-width: 60px;
    height: 100%;
}

.add-cleaner-button {
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.add-cleaner-button-icon-container {
}

.cleaners-container {
    width: 100%;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}

.time-input-enum-filed {
}

.enum-input {
    height: 100%;
}

.time-input-label-container {
    justify-content: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.time-input-label {
    -unity-font-style: italic;
}

.job-enums-container {
    max-width: 49%;
    min-width: 49%;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.details-content-container {
    margin-top: 10px;
    flex-grow: 1;
    width: 100%;
    max-height: 30%;
}

.inputs-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    min-height: 50%;
}

.job-details-main {
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
