.job-details-main {
    min-height: 60px;
    flex-direction: row;
}

.info-labels-container {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.multi-labels-container {
    flex-grow: 1;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    justify-content: space-between;
}

.info-label-container {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.info-label {
}

.job-option-buttons-container {
    flex-direction: row;
    min-width: 25%;
    justify-content: flex-end;
    max-width: 25%;
}

.option-button-container {
    min-width: 33%;
    padding-right: 1.5%;
    padding-left: 1.5%;
}

.option-button {
    align-items: center;
    justify-content: center;
}

.left-labels-container {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    justify-content: space-between;
    width: 65%;
}

.right-labels-container {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    justify-content: space-between;
    width: 35%;
}

.client-info-label {
    text-overflow: ellipsis;
}
