.job-details-view-main {
    width: 100%;
    height: 100%;
}

.details-header {
    min-height: 60px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.header-label-container {
    width: 100%;
}

.header-label {
    -unity-text-align: middle-left;
}

.text-input-container {
    min-width: 49%;
    margin-top: 5px;
    max-width: 49%;
    flex-direction: row;
    min-height: 72px;
    margin-bottom: 5px;
    max-height: 72px;
    align-items: flex-end;
}

.text-input {
    flex-grow: 1;
    min-height: 60px;
    max-height: 60px;
}

.time-input-container {
    min-width: 45%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    min-height: 72px;
    height: 100%;
    max-height: 72px;
    align-items: flex-end;
}

.time-inputs-container {
    min-width: 49%;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 49%;
    margin-top: 5px;
}

.enum-input-container {
    min-width: 45%;
    max-width: 45%;
    justify-content: center;
    height: 100%;
    min-height: 60px;
    max-height: 60px;
}

.custom-input > .unity-text-field__input {
    background-color: rgb(255, 255, 255);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.footer-button-container {
    height: 100%;
    min-width: 250px;
    margin-left: 50px;
}

.footer-button {
    justify-content: center;
    align-items: center;
}

.footer-button-label-container {
}

.footer-button-label {
}

.time-input-hour {
    min-width: 22%;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 22%;
}

.cleaner-row {
    min-height: 60px;
    max-height: 60px;
    margin-bottom: 5px;
    min-width: 390px;
}

.cleaners-content {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}

.cleaner-header {
    width: 100%;
    border-bottom-width: 1px;
    justify-content: space-between;
    flex-direction: row;
    min-height: 60px;
    max-height: 60px;
}

.cleaners-header-label-container {
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.cleaners-header-label {
}

.add-cleaner-button-container {
    min-width: 50px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.add-cleaner-button {
    align-items: center;
    justify-content: center;
}

.add-cleaner-button-icon-container {
}

.cleaners-container {
    width: 100%;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}

.time-input-enum-filed {
    flex-grow: 0.25;
    min-height: 60px;
    max-height: 60px;
}

.enum-input {
    flex-grow: 1;
}

.time-input-label-container {
    justify-content: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: 100%;
}

.time-input-label {
    -unity-font-style: italic;
    overflow: hidden;
    white-space: normal;
}

.job-enums-container {
    max-width: 49%;
    min-width: 49%;
    flex-direction: row;
    justify-content: space-between;
    min-height: 72px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 72px;
}

.details-content-container {
    margin-top: 10px;
    flex-grow: 1;
    width: 100%;
    min-height: 200px;
}

.inputs-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    min-height: 50%;
}

.job-details-main {
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.time-separator-label-container {
    justify-content: center;
    align-items: center;
    min-width: 2%;
}

.time-separator-label {
    -unity-text-align: middle-center;
}

.time-input-minute {
    min-width: 20%;
    margin-left: 1%;
    max-width: 20%;
}

.time-input {
    flex-grow: 0.75;
    margin-right: 5px;
}

.cleaner-scrollview-content-container {
    flex-wrap: wrap;
    min-height: 130px;
}

.job-type-input-container {
    min-width: 49%;
    max-width: 49%;
    justify-content: flex-end;
    height: 100%;
    min-height: 72px;
    max-height: 72px;
}

.enum-description-label {
    min-height: 12px;
    -unity-font-style: bold-and-italic;
    -unity-text-align: middle-left;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 12px;
}

.payment-type-input-container {
    min-width: 45%;
    max-width: 45%;
    height: 100%;
    min-height: 72px;
    max-height: 72px;
    justify-content: flex-end;
}

.job-type-enum-field {
    min-height: 60px;
    max-height: 60px;
}

.payment-type-enum-field {
    min-height: 60px;
    max-height: 60px;
}
