.custom-input {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-floating-label-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 20px;
    margin-bottom: 2px;
    margin-right: 15px;
}

.input-container {
    min-height: 25%;
    justify-content: center;
}

.options-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    min-height: 10%;
    flex-wrap: wrap;
}

.option-button-container {
    min-width: 50%;
    min-height: 50%;
    max-width: 50%;
}

.option-button {
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    align-items: flex-start;
}

.option-button-label {
    color: var(--gray1);
    -unity-font-style: italic;
    white-space: normal;
}

.error-label-container {
    align-items: flex-end;
    flex-grow: 1;
}

.floating-label-container {
}

.buttons-container {
    flex-direction: row;
    justify-content: space-around;
}

.error-label {
    -unity-font-style: italic;
    white-space: normal;
    font-size: 18px;
}

.centered-element {
    max-width: 50%;
    min-width: 50%;
}

.inputs-container {
    justify-content: center;
    min-height: 50%;
}

.input-container .custom-input {
    width: 100%;
    min-height: 50%;
}
