.hour-label {
    position: absolute;
    width: 40px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    -unity-text-align: middle-center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.center-reference {
    position: absolute;
    top: 50%;
    left: 50%;
}

.selected-label-highlight {
    position: absolute;
    width: 50%;
    height: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: none;
}

.center-reference {
}

.time-display-container {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: absolute;
    bottom: 105%;
    padding-right: 5%;
    padding-left: 5%;
}

.time-display-label-container {
}

.time-display-label {
    color: rgb(0, 0, 0);
}
